<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
  <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" />
  <title><%= current_page.data.title || "Middleman" %></title>
  <%= stylesheet_link_tag :style %>
</head>
<body class="<%= page_classes %>">

  <div class="container-l">
      <ul class="nav nav-horizontal left topbar">
        <li><a href="index.html"><img src="assets/images/kaffeekommune-logo-small.png"></a></li>
      </ul>
  </div>

  <%= yield %>

<hr>

  <div class="container-s">
    <ul class="nav nav-horizontal center">
      <li><a href="workshop.html">workshop</a></li>
      <li><a href="professionals.html">professionals</a></li>
      <li><a href="lingo.html">lingo</a></li>
      <li><a href="mailto:info@kaffeekommune.de">send a mail</a></li>
    </ul>

    <div class="container">
      <p class="center" "font_size-xs">
        Copyright © 2016 Kaffeekommune — <a href="imprint.html">imprint</a>
      </p>
    </div>
  </div>
  <%= javascript_include_tag :all %>
</body>
</html>
